---
import Layout from "@layouts/Layout.astro"
import InnerHero from "@components/sections/InnerHero.astro"

const heroContent = {
    title: "Capacity Building",
    description: ""
}

---

<Layout>
 <InnerHero content={heroContent} />
 <section class="py-16 bg-gray-50">
  <div class="max-w-5xl mx-auto px-6 md:px-10">
    <div class="space-y-12 text-gray-800 leading-relaxed">
      


      <!-- Programs -->
        <div class="bg-white rounded-2xl shadow-md p-6">
          <h2 class="text-2xl font-semibold mb-4 text-blue-700">Programs</h2>
          <ul class="list-disc pl-6 space-y-2 text-gray-700">
            <li>Verbal Autopsy Interviewer Training for Supervisors</li>
            <li>ICD-10 Coding Workshops</li>
          </ul>
        </div>
        
    </div>
  </div>
</section>
</Layout>

